In [299]:
import pandas as pd
import numpy as np
from datetime import datetime
import re
import csv

In [300]:
#Preparing the dataset
pd.set_option('display.max_columns', None)

df_flashbay = pd.read_csv('data/data_flashbay_clean.csv', engine='python')
df_steelseries = pd.read_csv('data/data_steelseries_clean.csv', engine='python')
df_asda = pd.read_csv('data/data_asda_clean.csv', engine='python')

In [301]:
#Check compatibility of the three datasets for merging

print("These are the names of the columns present in Flashbay: ", "\n", df_flashbay.columns)
print("These are the names of the columns present in SteelSeries: ", "\n", df_steelseries.columns)
print("These are the names of the columns present in Asda: ", "\n", df_asda.columns)

print("The Flashbay dataset has ", df_flashbay.shape[1], "columns")
print("The SteelSeries dataset has ", df_steelseries.shape[1], "columns")
print("The Asda dataset has ", df_asda.shape[1], "columns")

print("The Flashbay dataset has ", df_flashbay.shape[0], "rows")
print("The SteelSeries dataset has ", df_steelseries.shape[0], "rows")
print("The Asda dataset has ", df_asda.shape[0], "rows")

These are the names of the columns present in Flashbay:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number'],
      dtype='object')
These are the names of the columns present in SteelSeries:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number'],
      dtype='object')
These are the names of the columns present in Asda:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number'],
      dtype='object')
The Flashbay dataset has  10 columns
The SteelSeries dataset has  10 columns
The Asda dataset has  10 columns
The Flashbay dataset has  18275 rows
The SteelSeries dataset has  17740 rows
The Asda dataset has  15769 rows

In [302]:
print("Printing the first few rows of Flashbay: ", "\n", df_flashbay.head())

Printing the first few rows of Flashbay:
            username number_reviews location  rating  \
0  Margarita Orlova       1 review       CZ       5
1  Oran Whittington       1 review       US       5
2      Cristen Gros       1 review       US       5
3   Mechelle Fields       1 review       US       5
4   Sarah Venturini       1 review       US       5

                                                text date_of_experience  \
0  I had the pleasure of working with Shelby Gibs...   October 10, 2024
1  The company rep I was working with made everyt...   October 14, 2024
2  Ellie was GREAT! Super helpful with the design...   October 15, 2024
3  My team member “Ellie’s’  worked with me throu...   October 11, 2024
4  Rachel was amazing. She responded immediately ...   October 10, 2024

           date_posted verification  \
0  2024-10-17 10:27:44     Verified
1  2024-10-15 16:54:36     Verified
2  2024-10-15 17:01:29     Verified
3  2024-10-12 03:50:51     Verified
4  2024-10-14 17:21:09     Verified

                                             subject  page_number
0                             Great customer service          1.0
1  Certified Crane and Rigging Services. The comp...          1.0
2                                  Ellie was GREAT!!          1.0
3                             Beautiful Red Coasters          1.0
4                               Rachel was amazing!!          1.0

In [303]:
print("Printing the first few rows of SteelSeries: ", "\n", df_steelseries.head())

Printing the first few rows of SteelSeries:
          username number_reviews location  rating  \
0        Consumer       1 review       CY       5
1   ulices Alfice       1 review       GB       1
2  PHILIP DAMIANO       1 review       US       1
3              dj      7 reviews       BE       1
4  Charlie Watson      4 reviews       GB       5

                                                text date_of_experience  \
0  I paid 60€ for QcK Prism Gaming Mouse Pad and ...   October 17, 2024
1  I was having issues with my old headphones and...   October 01, 2024
2  My APEX PRO TKL (2023) just stop turning on on...   October 09, 2024
3  Why? Because their RMA is awful. It is an endl...   October 01, 2024
4  My son loves these headphones. Unfortunately o...    August 31, 2024

           date_posted verification  \
0  2024-10-19 21:26:17          NaN
1  2024-10-19 22:08:56          NaN
2  2024-10-12 14:39:07          NaN
3  2024-10-06 18:08:33          NaN
4  2024-08-31 01:15:19          NaN

                                     subject  page_number
0  Ultra fast delivery,Excellent CustSuppot…            1
1        Do not purchase from them directly.            1
2          My APEX PRO TKL (2023) just stop…            1
3        Don't buy directly from SteelSeries            1
4                              Arctis nova 1            1

In [304]:
print("Printing the first few rows of Asda: ", "\n", df_asda.head())

Printing the first few rows of Asda:
           username number_reviews location  rating  \
0    Darren Bolton     16 reviews       GB     1.0
1    richard mason     18 reviews       GB     1.0
2  Paul Zuchlinski       1 review       GB     1.0
3        Katarzyna      6 reviews       GB     1.0
4        bobozilla      7 reviews       GB     1.0

                                                text date_of_experience  \
0  Buy at least 2 online shops per week at Asda s...   October 21, 2024
1  It is quite apparent that ASDA shelf stackers ...   October 17, 2024
2  I put £20.01 in the tank & got charged £99 I h...   October 20, 2024
3  Absolutely shocking experience EACH TIME. This...   October 22, 2024
4  Worst service imaginable. They do not deliver ...   October 19, 2024

           date_posted  verification                                  subject  \
0  2024-10-21 17:17:36           NaN                   Every little helps....
1  2024-10-20 16:33:41           NaN                  Please train your staff
2  2024-10-20 20:09:06           NaN  I put £20.01 in the tank & got charged…
3  2024-10-22 13:14:54           NaN     Absolutely shocking experience EACH…
4  2024-10-20 17:26:31           NaN                 Worst service imaginable

   page_number
0          1.0
1          1.0
2          1.0
3          1.0
4          1.0

In [305]:
df_trustpilot_2 = pd.concat([df_flashbay, df_steelseries], axis=0)
df_trustpilot = pd.concat([df_trustpilot_2, df_asda], axis=0)

display(df_trustpilot)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number
0,Margarita Orlova,1 review,CZ,5.0,I had the pleasure of working with Shelby Gibs...,"October 10, 2024",2024-10-17 10:27:44,Verified,Great customer service,1.0
1,Oran Whittington,1 review,US,5.0,The company rep I was working with made everyt...,"October 14, 2024",2024-10-15 16:54:36,Verified,Certified Crane and Rigging Services. The comp...,1.0
2,Cristen Gros,1 review,US,5.0,Ellie was GREAT! Super helpful with the design...,"October 15, 2024",2024-10-15 17:01:29,Verified,Ellie was GREAT!!,1.0
3,Mechelle Fields,1 review,US,5.0,My team member “Ellie’s’ worked with me throu...,"October 11, 2024",2024-10-12 03:50:51,Verified,Beautiful Red Coasters,1.0
4,Sarah Venturini,1 review,US,5.0,Rachel was amazing. She responded immediately ...,"October 10, 2024",2024-10-14 17:21:09,Verified,Rachel was amazing!!,1.0
...,...,...,...,...,...,...,...,...,...,...
15764,Joyce,3 reviews,IN,3.0,"Had to wait a week for my new garden set, slow...","July 09, 2009",2009-07-09 17:06:50,NaN,Slow delivery,796.0
15765,d young,2 reviews,GB,1.0,i am doing an assignment at college as part of...,"June 09, 2009",2009-06-09 08:57:17,NaN,problems with them in the past 6 months,796.0
15766,B L,1 review,GB,1.0,Ordered a game a while ago which would be disp...,"May 20, 2009",2009-05-20 16:29:05,NaN,"Two orders, Zero received",796.0
15767,Zena Gledhill,1 review,IR,1.0,Do you think it is ethical of asda to use a tr...,"March 07, 2009",2009-03-07 16:25:25,NaN,Ethical or not,796.0
15768,Cilla,1 review,GB,2.0,Ordered a cd on the 17th Dec 2008 still had no...,"January 15, 2009",2009-01-15 13:41:54,NaN,Non delivery of CD,796.0

In [306]:
print("These are the names of the columns present: ", "\n", df_trustpilot.columns)
print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number'],
      dtype='object')
The dataset has  10 columns
The dataset has  51784 rows

In [307]:
#Deleting the page_number column as it is no longer needed or relevant

df_trustpilot.drop(columns=['page_number'], inplace=True)

In [308]:
print("These are the names of the columns present: ", "\n", df_trustpilot.columns)
print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject'],
      dtype='object')
The dataset has  9 columns
The dataset has  51784 rows

In [309]:
print("Printing the relevant information from the file such as type per variable: ", "\n")
print(df_trustpilot.info())

Printing the relevant information from the file such as type per variable:

<class 'pandas.core.frame.DataFrame'>
Index: 51784 entries, 0 to 15768
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            51773 non-null  object
 1   number_reviews      51784 non-null  object
 2   location            51784 non-null  object
 3   rating              51784 non-null  float64
 4   text                48937 non-null  object
 5   date_of_experience  51784 non-null  object
 6   date_posted         51784 non-null  object
 7   verification        34850 non-null  object
 8   subject             51784 non-null  object
dtypes: float64(1), object(8)
memory usage: 4.0+ MB
None

In [310]:
#Amending the dataset
#number_reviews: Removing 'review(s)' from cell and converting to an integer
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].str.replace('(?i)reviews', '', regex=True).str.strip()
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].str.replace('(?i)review', '', regex=True).str.strip()
print(df_trustpilot['number_reviews'].value_counts())
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].astype(int)

print(df_trustpilot.info())
print(df_trustpilot.head())

number_reviews
1      30316
2       6599
3       2993
4       1815
5       1288
       ...
141        1
454        1
151        1
124        1
128        1
Name: count, Length: 171, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 51784 entries, 0 to 15768
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            51773 non-null  object
 1   number_reviews      51784 non-null  int64
 2   location            51784 non-null  object
 3   rating              51784 non-null  float64
 4   text                48937 non-null  object
 5   date_of_experience  51784 non-null  object
 6   date_posted         51784 non-null  object
 7   verification        34850 non-null  object
 8   subject             51784 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 4.0+ MB
None
           username  number_reviews location  rating  \
0  Margarita Orlova               1       CZ     5.0
1  Oran Whittington               1       US     5.0
2      Cristen Gros               1       US     5.0
3   Mechelle Fields               1       US     5.0
4   Sarah Venturini               1       US     5.0

                                                text date_of_experience  \
0  I had the pleasure of working with Shelby Gibs...   October 10, 2024
1  The company rep I was working with made everyt...   October 14, 2024
2  Ellie was GREAT! Super helpful with the design...   October 15, 2024
3  My team member “Ellie’s’  worked with me throu...   October 11, 2024
4  Rachel was amazing. She responded immediately ...   October 10, 2024

           date_posted verification  \
0  2024-10-17 10:27:44     Verified
1  2024-10-15 16:54:36     Verified
2  2024-10-15 17:01:29     Verified
3  2024-10-12 03:50:51     Verified
4  2024-10-14 17:21:09     Verified

                                             subject
0                             Great customer service
1  Certified Crane and Rigging Services. The comp...
2                                  Ellie was GREAT!!
3                             Beautiful Red Coasters
4                               Rachel was amazing!!

In [311]:
#date_of_experience: Converting to datetime format
df_trustpilot['date_of_experience'] = pd.to_datetime(df_trustpilot['date_of_experience'], errors='coerce')
print(df_trustpilot.info())

<class 'pandas.core.frame.DataFrame'>
Index: 51784 entries, 0 to 15768
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            51773 non-null  object
 1   number_reviews      51784 non-null  int64
 2   location            51784 non-null  object
 3   rating              51784 non-null  float64
 4   text                48937 non-null  object
 5   date_of_experience  51784 non-null  datetime64[ns]
 6   date_posted         51784 non-null  object
 7   verification        34850 non-null  object
 8   subject             51784 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(6)
memory usage: 4.0+ MB
None

In [312]:
#date_posted: convert to datetime format, then split into two columns, one for time of day, one for date.

df_trustpilot['date_posted'] = pd.to_datetime(df_trustpilot['date_posted'])
df_trustpilot['hour_posted'] = df_trustpilot['date_posted'].dt.time
df_trustpilot['date_posted'] = df_trustpilot['date_posted'].dt.date

print(df_trustpilot.head())

           username  number_reviews location  rating  \
0  Margarita Orlova               1       CZ     5.0
1  Oran Whittington               1       US     5.0
2      Cristen Gros               1       US     5.0
3   Mechelle Fields               1       US     5.0
4   Sarah Venturini               1       US     5.0

                                                text date_of_experience  \
0  I had the pleasure of working with Shelby Gibs...         2024-10-10
1  The company rep I was working with made everyt...         2024-10-14
2  Ellie was GREAT! Super helpful with the design...         2024-10-15
3  My team member “Ellie’s’  worked with me throu...         2024-10-11
4  Rachel was amazing. She responded immediately ...         2024-10-10

  date_posted verification                                            subject  \
0  2024-10-17     Verified                             Great customer service
1  2024-10-15     Verified  Certified Crane and Rigging Services. The comp...
2  2024-10-15     Verified                                  Ellie was GREAT!!
3  2024-10-12     Verified                             Beautiful Red Coasters
4  2024-10-14     Verified                               Rachel was amazing!!

  hour_posted
0    10:27:44
1    16:54:36
2    17:01:29
3    03:50:51
4    17:21:09

In [313]:
#Creating a new column indicating the day of the week the post was created

df_trustpilot['date_posted'] = pd.to_datetime(df_trustpilot['date_posted'])

df_trustpilot['day_of_week_posted'] = df_trustpilot['date_posted'].dt.day_name()

print(df_trustpilot.head())
print(df_trustpilot.info())

           username  number_reviews location  rating  \
0  Margarita Orlova               1       CZ     5.0
1  Oran Whittington               1       US     5.0
2      Cristen Gros               1       US     5.0
3   Mechelle Fields               1       US     5.0
4   Sarah Venturini               1       US     5.0

                                                text date_of_experience  \
0  I had the pleasure of working with Shelby Gibs...         2024-10-10
1  The company rep I was working with made everyt...         2024-10-14
2  Ellie was GREAT! Super helpful with the design...         2024-10-15
3  My team member “Ellie’s’  worked with me throu...         2024-10-11
4  Rachel was amazing. She responded immediately ...         2024-10-10

  date_posted verification                                            subject  \
0  2024-10-17     Verified                             Great customer service
1  2024-10-15     Verified  Certified Crane and Rigging Services. The comp...
2  2024-10-15     Verified                                  Ellie was GREAT!!
3  2024-10-12     Verified                             Beautiful Red Coasters
4  2024-10-14     Verified                               Rachel was amazing!!

  hour_posted day_of_week_posted
0    10:27:44           Thursday
1    16:54:36            Tuesday
2    17:01:29            Tuesday
3    03:50:51           Saturday
4    17:21:09             Monday
<class 'pandas.core.frame.DataFrame'>
Index: 51784 entries, 0 to 15768
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            51773 non-null  object
 1   number_reviews      51784 non-null  int64
 2   location            51784 non-null  object
 3   rating              51784 non-null  float64
 4   text                48937 non-null  object
 5   date_of_experience  51784 non-null  datetime64[ns]
 6   date_posted         51784 non-null  datetime64[ns]
 7   verification        34850 non-null  object
 8   subject             51784 non-null  object
 9   hour_posted         51784 non-null  object
 10  day_of_week_posted  51784 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(7)
memory usage: 4.7+ MB
None

In [314]:
#Create a new column calculating the amount of time (in days) that passed between date_of_experience and date_posted

df_trustpilot['days_between_experience_and_post'] = (df_trustpilot['date_posted'] - df_trustpilot['date_of_experience']).dt.days

print(df_trustpilot.info())
print(df_trustpilot.head())

<class 'pandas.core.frame.DataFrame'>
Index: 51784 entries, 0 to 15768
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          51773 non-null  object
 1   number_reviews                    51784 non-null  int64
 2   location                          51784 non-null  object
 3   rating                            51784 non-null  float64
 4   text                              48937 non-null  object
 5   date_of_experience                51784 non-null  datetime64[ns]
 6   date_posted                       51784 non-null  datetime64[ns]
 7   verification                      34850 non-null  object
 8   subject                           51784 non-null  object
 9   hour_posted                       51784 non-null  object
 10  day_of_week_posted                51784 non-null  object
 11  days_between_experience_and_post  51784 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 5.1+ MB
None
           username  number_reviews location  rating  \
0  Margarita Orlova               1       CZ     5.0
1  Oran Whittington               1       US     5.0
2      Cristen Gros               1       US     5.0
3   Mechelle Fields               1       US     5.0
4   Sarah Venturini               1       US     5.0

                                                text date_of_experience  \
0  I had the pleasure of working with Shelby Gibs...         2024-10-10
1  The company rep I was working with made everyt...         2024-10-14
2  Ellie was GREAT! Super helpful with the design...         2024-10-15
3  My team member “Ellie’s’  worked with me throu...         2024-10-11
4  Rachel was amazing. She responded immediately ...         2024-10-10

  date_posted verification                                            subject  \
0  2024-10-17     Verified                             Great customer service
1  2024-10-15     Verified  Certified Crane and Rigging Services. The comp...
2  2024-10-15     Verified                                  Ellie was GREAT!!
3  2024-10-12     Verified                             Beautiful Red Coasters
4  2024-10-14     Verified                               Rachel was amazing!!

  hour_posted day_of_week_posted  days_between_experience_and_post
0    10:27:44           Thursday                                 7
1    16:54:36            Tuesday                                 1
2    17:01:29            Tuesday                                 0
3    03:50:51           Saturday                                 1
4    17:21:09             Monday                                 4

In [315]:
#Identifying duplicates in the dataset

print("Duplicate rows before:")
print(df_trustpilot.duplicated().sum())

df_trustpilot = df_trustpilot.drop_duplicates()

print("Duplicate rows after:")
print(df_trustpilot.duplicated().sum())

Duplicate rows before:
5
Duplicate rows after:
0

In [316]:
#Identifying missing values in the dataset

print("Missing values:")
print(df_trustpilot.isnull().sum())

Missing values:
username                               11
number_reviews                          0
location                                0
rating                                  0
text                                 2846
date_of_experience                      0
date_posted                             0
verification                        16934
subject                                 0
hour_posted                             0
day_of_week_posted                      0
days_between_experience_and_post        0
dtype: int64

In [317]:
#There are three columns with missing values: username, text and verification
#username only has 11 missing values and the username column is not critical so we can override that with the most frequently used value from other columns
#verification has 16,934 missing values - if verification is missing that means the user didnt verify themselves. Based on this, we should inspect the different options for this column and fill it with the value most likely representing 'Not verified'. 
#text has 2846 missing values and is our biggest challenge. Based on the text we predict the rating. Determine what % of our entries has no text and then most likely proceed with deleting those rows.

In [318]:
#Username missing value

print("This is the distribution of the types of username in the dataset: ", "\n", df_trustpilot['username'].value_counts().head())

#The username with the highest number in the dataset is 'Customer'. As this is a non-descript name for a username, we will apply it to the missing username.

df_trustpilot['username'] = df_trustpilot['username'].fillna('Customer')

print("Missing values:")
print(df_trustpilot['username'].isnull().sum())

This is the distribution of the types of username in the dataset:
 username
Customer     247
customer     141
Anonymous    103
Chris        103
David         99
Name: count, dtype: int64
Missing values:
0

In [319]:
#Verification missing value

print("This is the distribution of the types of verifications in the dataset: ", "\n", df_trustpilot['verification'].value_counts().head())

#Inspection indicates that there is no value under verification specifically indicating that a user is not verified. We will hence create a new variable named 'Not Verified' and fill the n/a values with it. 

df_trustpilot['verification'] = df_trustpilot['verification'].fillna('Not Verified')

print("Missing values:")
print(df_trustpilot['verification'].isnull().sum())

This is the distribution of the types of verifications in the dataset:
 verification
Verified      30286
Invited        4554
Redirected        5
Name: count, dtype: int64
Missing values:
0

In [320]:
#Text missing value

na_percentage = (df_trustpilot['text'].isna().sum() / len(df_trustpilot)) * 100
print("The percentage of n/a values in the text column compared to the full dataset is:", "\n")
print(na_percentage)

print("Missing values:")
print(df_trustpilot.isnull().sum())

The percentage of n/a values in the text column compared to the full dataset is:

5.496436779389327
Missing values:
username                               0
number_reviews                         0
location                               0
rating                                 0
text                                2846
date_of_experience                     0
date_posted                            0
verification                           0
subject                                0
hour_posted                            0
day_of_week_posted                     0
days_between_experience_and_post       0
dtype: int64

In [321]:
#The cells with missing values for text represent 5.5% of the full dataset. Due to the criticality of this column and the size of the dataset, the decision has been made to remove rows with n/a values for text.

df_trustpilot = df_trustpilot.dropna(axis=0, how='any', subset=['text'])

print("Missing values:")
print(df_trustpilot.isnull().sum())

print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

Missing values:
username                            0
number_reviews                      0
location                            0
rating                              0
text                                0
date_of_experience                  0
date_posted                         0
verification                        0
subject                             0
hour_posted                         0
day_of_week_posted                  0
days_between_experience_and_post    0
dtype: int64
The dataset has  12 columns
The dataset has  48933 rows

In [322]:
print("These are the names of the columns present: ", "\n", df_trustpilot.columns)

print("Printing the relevant information from the file such as type per variable: ", "\n")
print(df_trustpilot.info())

These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'hour_posted', 'day_of_week_posted',
       'days_between_experience_and_post'],
      dtype='object')
Printing the relevant information from the file such as type per variable:

<class 'pandas.core.frame.DataFrame'>
Index: 48933 entries, 0 to 15768
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          48933 non-null  object
 1   number_reviews                    48933 non-null  int64
 2   location                          48933 non-null  object
 3   rating                            48933 non-null  float64
 4   text                              48933 non-null  object
 5   date_of_experience                48933 non-null  datetime64[ns]
 6   date_posted                       48933 non-null  datetime64[ns]
 7   verification                      48933 non-null  object
 8   subject                           48933 non-null  object
 9   hour_posted                       48933 non-null  object
 10  day_of_week_posted                48933 non-null  object
 11  days_between_experience_and_post  48933 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 4.9+ MB
None

In [323]:
print("These are the statistical distributions of the numeric variables present in the dataset: ", "\n")
print(df_trustpilot.describe())

These are the statistical distributions of the numeric variables present in the dataset:

       number_reviews        rating             date_of_experience  \
count    48933.000000  48933.000000                          48933
mean         4.791797      3.517974  2019-08-27 20:34:14.368217600
min          1.000000      1.000000            2009-01-15 00:00:00
25%          1.000000      1.000000            2017-04-11 00:00:00
50%          1.000000      5.000000            2020-07-14 00:00:00
75%          3.000000      5.000000            2021-09-13 00:00:00
max        592.000000      5.000000            2024-10-22 00:00:00
std         12.363238      1.836672                            NaN

                         date_posted  days_between_experience_and_post
count                          48933                      48933.000000
mean   2019-08-29 20:02:39.794003968                          1.978072
min              2009-01-15 00:00:00                         -1.000000
25%              2017-04-12 00:00:00                          0.000000
50%              2020-07-15 00:00:00                          0.000000
75%              2021-09-13 00:00:00                          0.000000
max              2024-10-22 00:00:00                       3972.000000
std                              NaN                         41.564092

In [324]:
list = ['number_reviews', 'location', 'rating', 'verification', 'day_of_week_posted',
       'days_between_experience_and_post']

for value in list:
    print(f"{value} has the following values", df_trustpilot[value].value_counts())

number_reviews has the following values number_reviews
1      28306
2       6163
3       2826
4       1745
5       1249
       ...
385        1
141        1
151        1
124        1
128        1
Name: count, Length: 170, dtype: int64
location has the following values location
US    23956
GB    17289
CA     1494
DE      843
FR      466
      ...
RE        1
BM        1
FO        1
GP        1
AM        1
Name: count, Length: 140, dtype: int64
rating has the following values rating
5.0    27936
1.0    15577
4.0     2385
2.0     1757
3.0     1278
Name: count, dtype: int64
verification has the following values verification
Verified        28336
Not Verified    16794
Invited          3798
Redirected          5
Name: count, dtype: int64
day_of_week_posted has the following values day_of_week_posted
Tuesday      8824
Wednesday    8494
Thursday     8255
Friday       7621
Monday       7481
Saturday     4535
Sunday       3723
Name: count, dtype: int64
days_between_experience_and_post has the following values days_between_experience_and_post
0       44993
1        1476
2         424
3         307
4         186
        ...
291         1
240         1
3842        1
95          1
2309        1
Name: count, Length: 217, dtype: int64

In [325]:
print("The Trustpilot dataset has ", df_trustpilot.shape[1], "columns")

print("The Trustpilot dataset has ", df_trustpilot.shape[0], "rows")

The Trustpilot dataset has  12 columns
The Trustpilot dataset has  48933 rows

In [326]:
print(df_trustpilot.info())

<class 'pandas.core.frame.DataFrame'>
Index: 48933 entries, 0 to 15768
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          48933 non-null  object
 1   number_reviews                    48933 non-null  int64
 2   location                          48933 non-null  object
 3   rating                            48933 non-null  float64
 4   text                              48933 non-null  object
 5   date_of_experience                48933 non-null  datetime64[ns]
 6   date_posted                       48933 non-null  datetime64[ns]
 7   verification                      48933 non-null  object
 8   subject                           48933 non-null  object
 9   hour_posted                       48933 non-null  object
 10  day_of_week_posted                48933 non-null  object
 11  days_between_experience_and_post  48933 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 4.9+ MB
None

In [327]:
#Converting hour_posted to only keep the hour and convert to integer

print("Current data type of hour_posted:", df_trustpilot['hour_posted'].dtype)

# Convert hour_posted from datetime.time to integer hour
df_trustpilot['hour_posted'] = df_trustpilot['hour_posted'].apply(lambda x: x.hour if hasattr(x, 'hour') else x)


#Converting day_of_week_posted to numeric value

day_map = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}
df_trustpilot['day_of_week_posted'] = df_trustpilot['day_of_week_posted'].map(day_map)

print("\nSample of converted hour_posted:")
print(df_trustpilot['hour_posted'].head())
print("\nSample of converted day_of_week_posted:")
print(df_trustpilot['day_of_week_posted'].head())

Current data type of hour_posted: object

Sample of converted hour_posted:
0    10
1    16
2    17
3     3
4    17
Name: hour_posted, dtype: int64

Sample of converted day_of_week_posted:
0    3
1    1
2    1
3    5
4    0
Name: day_of_week_posted, dtype: int64

In [328]:
print(df_trustpilot['verification'].unique())

df_trustpilot.info()

['Verified' 'Not Verified' 'Redirected' 'Invited']
<class 'pandas.core.frame.DataFrame'>
Index: 48933 entries, 0 to 15768
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          48933 non-null  object
 1   number_reviews                    48933 non-null  int64
 2   location                          48933 non-null  object
 3   rating                            48933 non-null  float64
 4   text                              48933 non-null  object
 5   date_of_experience                48933 non-null  datetime64[ns]
 6   date_posted                       48933 non-null  datetime64[ns]
 7   verification                      48933 non-null  object
 8   subject                           48933 non-null  object
 9   hour_posted                       48933 non-null  int64
 10  day_of_week_posted                48933 non-null  int64
 11  days_between_experience_and_post  48933 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(5)
memory usage: 4.9+ MB

In [329]:
# Verification currently has 4 values. In order to simplify this variable, we will perform binary encoding.
# ['Verified' 'Not Verified' 'Redirected' 'Invited']
# 'Verified' = 1
# 'Not Verified', 'Redirected', 'Invited' = 0 
# 'Not Verified', 'Redirected', 'Invited' were all encoded 0 as they are not verified by the Trustpilot website

verification_map = {
    'Verified': 1,
    'Not Verified': 0,
    'Redirected': 0,
    'Invited': 0
}

df_trustpilot['verification_encoded'] = df_trustpilot['verification'].map(verification_map)

df_trustpilot = df_trustpilot.drop('verification', axis=1)

In [330]:
df_trustpilot['verification'] = df_trustpilot['verification_encoded']
df_trustpilot = df_trustpilot.drop('verification_encoded', axis=1)

df_trustpilot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48933 entries, 0 to 15768
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          48933 non-null  object
 1   number_reviews                    48933 non-null  int64
 2   location                          48933 non-null  object
 3   rating                            48933 non-null  float64
 4   text                              48933 non-null  object
 5   date_of_experience                48933 non-null  datetime64[ns]
 6   date_posted                       48933 non-null  datetime64[ns]
 7   subject                           48933 non-null  object
 8   hour_posted                       48933 non-null  int64
 9   day_of_week_posted                48933 non-null  int64
 10  days_between_experience_and_post  48933 non-null  int64
 11  verification                      48933 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(4)
memory usage: 4.9+ MB

In [331]:
import os

os.makedirs('data', exist_ok=True)

csv_path = 'data/data_trustpilot.csv'
df_trustpilot.to_csv(csv_path, index=False)
print(f"DataFrame exported to {csv_path}")

DataFrame exported to data/data_trustpilot.csv