In [352]:
import pandas as pd
import numpy as np
from datetime import datetime
import re
import csv

STAGE 1 - MERGING DATASETS

In [354]:
#Preparing the dataset
pd.set_option('display.max_columns', None)

df_flashbay = pd.read_csv('data/data_flashbay_clean.csv', engine='python')
df_steelseries = pd.read_csv('data/data_steelseries_clean.csv', engine='python')
df_asda = pd.read_csv('data/data_asda_clean.csv', engine='python')
df_quicken = pd.read_csv('data/data_quicken_clean.csv', engine='python')

In [355]:
#Add the name of the company as a column to each dataset

df_flashbay['company'] = 'Flashbay'
df_steelseries['company'] = 'SteelSeries'
df_asda['company'] = 'Asda'
df_quicken['company'] = 'Quicken'

In [356]:
#Check compatibility of the three datasets for merging

print("These are the names of the columns present in Flashbay: ", "\n", df_flashbay.columns)
print("These are the names of the columns present in SteelSeries: ", "\n", df_steelseries.columns)
print("These are the names of the columns present in Asda: ", "\n", df_asda.columns)
print("These are the names of the columns present in Quicken: ", "\n", df_quicken.columns)

print("The Flashbay dataset has ", df_flashbay.shape[1], "columns")
print("The SteelSeries dataset has ", df_steelseries.shape[1], "columns")
print("The Asda dataset has ", df_asda.shape[1], "columns")
print("The Quicken dataset has ", df_quicken.shape[1], "columns")

print("The Flashbay dataset has ", df_flashbay.shape[0], "rows")
print("The SteelSeries dataset has ", df_steelseries.shape[0], "rows")
print("The Asda dataset has ", df_asda.shape[0], "rows")
print("The Quicken dataset has ", df_quicken.shape[0], "rows")

These are the names of the columns present in Flashbay:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number', 'answer', 'company'],
      dtype='object')
These are the names of the columns present in SteelSeries:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number', 'answer', 'company'],
      dtype='object')
These are the names of the columns present in Asda:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number', 'answer', 'company'],
      dtype='object')
These are the names of the columns present in Quicken:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number', 'answer', 'company'],
      dtype='object')
The Flashbay dataset has  12 columns
The SteelSeries dataset has  12 columns
The Asda dataset has  12 columns
The Quicken dataset has  12 columns
The Flashbay dataset has  18277 rows
The SteelSeries dataset has  17740 rows
The Asda dataset has  15769 rows
The Quicken dataset has  32320 rows

In [357]:
display(df_flashbay)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number,answer,company
0,Rob Crane,2 reviews,CA,5,The company rep I worked with made my transact...,"June 15, 2024",2024-10-23 04:17:44,Redirected,The company rep I worked with made my…,1.0,NaN,Flashbay
1,Pat Anderson,1 review,US,5,I highly recommend using Flashbay. Immediately...,"October 16, 2024",2024-10-16 19:34:05,Verified,I highly recommend using Flashbay,1.0,NaN,Flashbay
2,Margarita Orlova,1 review,CZ,5,I had the pleasure of working with Shelby Gibs...,"October 10, 2024",2024-10-17 10:27:44,Verified,Great customer service,1.0,NaN,Flashbay
3,Paola Rivas,1 review,US,5,I had a fantastic experience with Brian Truong...,"October 21, 2024",2024-10-21 22:38:50,Verified,Outstanding Support and Attentive Service,1.0,NaN,Flashbay
4,Fiona Mckelvey Keenan,3 reviews,CA,5,My number-one go-to for computer accessories. ...,"July 11, 2024",2024-10-23 04:09:05,NaN,My number-one go-to for computer…,1.0,NaN,Flashbay
...,...,...,...,...,...,...,...,...,...,...,...,...
18272,Fiona Gubbins,1 review,GB,5,"I got very fast professional service, the USB ...","March 26, 2012",2012-03-26 16:21:41,Verified,Great service!,934.0,"Thanks Fiona,Jeremy loved working with you too...",Flashbay
18273,Petri Hongisto,1 review,FI,5,"Perfect – no reservations, I would recommend t...","March 26, 2012",2012-03-26 07:19:39,Verified,Perfect – no reservations,934.0,"Many thanks Petri for your review, we are deli...",Flashbay
18274,Steven Andrianoff,1 review,US,5,I received great service on my recent order. ...,"March 24, 2012",2012-03-24 12:50:30,Verified,Great service,934.0,Thank you Steven for such positive feedback on...,Flashbay
18275,Anna,1 review,GB,5,I have been very satisfied with the Flashbay e...,"March 23, 2012",2012-03-23 15:11:35,Verified,An excellent USB supplier,934.0,"Thanks Anna,Many thanks for your review, we ar...",Flashbay
18276,Athanasios Pountzas,1 review,GR,5,Flashbay provides me not only the best service...,"March 23, 2012",2012-03-23 06:59:32,Verified,One word: BEST,934.0,"Many thanks for your review, we are delighted ...",Flashbay

In [358]:
display(df_steelseries)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number,answer,company
0,Consumer,1 review,CY,5,I paid 60€ for QcK Prism Gaming Mouse Pad and ...,"October 17, 2024",2024-10-19 21:26:17,NaN,"Ultra fast delivery,Excellent CustSuppot…",1,Hey there!Just wanted to drop a quick message ...,SteelSeries
1,ulices Alfice,1 review,GB,1,I was having issues with my old headphones and...,"October 01, 2024",2024-10-19 22:08:56,NaN,Do not purchase from them directly.,1,NaN,SteelSeries
2,PHILIP DAMIANO,1 review,US,1,My APEX PRO TKL (2023) just stop turning on on...,"October 09, 2024",2024-10-12 14:39:07,NaN,My APEX PRO TKL (2023) just stop…,1,Hello Philip - Thank you for taking the time t...,SteelSeries
3,dj,7 reviews,BE,1,Why? Because their RMA is awful. It is an endl...,"October 01, 2024",2024-10-06 18:08:33,NaN,Don't buy directly from SteelSeries,1,Hello - Thank you for taking the time to write...,SteelSeries
4,Charlie Watson,4 reviews,GB,5,My son loves these headphones. Unfortunately o...,"August 31, 2024",2024-08-31 01:15:19,NaN,Arctis nova 1,1,Hey there!Just wanted to drop a quick message ...,SteelSeries
...,...,...,...,...,...,...,...,...,...,...,...,...
17735,Daniel,1 review,SE,1,RMA Request within 1-2 days? Yeah right.\rSent...,"September 29, 2015",2015-09-29 13:15:14,NaN,RMA Request within 1-2 days and pay for shippi...,887,NaN,SteelSeries
17736,Esben Lægteskov-Heidmann,1 review,DK,2,"Submitted an RMA request Sep. 2, at around 2pm...","September 07, 2015",2015-09-07 16:35:14,NaN,RMA Request within 1-2 days? Yeah right.,887,NaN,SteelSeries
17737,Kenneth Jessen,22 reviews,DK,1,Bought a WoW wireless gaming mouse. I assumed ...,"January 17, 2014",2014-01-17 19:26:44,NaN,Was told my new mouse was defect.,887,NaN,SteelSeries
17738,Mr. McIntyre,2 reviews,US,5,I never get dissapointed when recieving new pr...,"October 19, 2013",2013-10-19 01:33:13,NaN,High-end equipment,887,NaN,SteelSeries
17739,Mads Nikolaj Lauritsen,31 reviews,DK,2,"I've been using Steelseries for a long time, w...","August 08, 2013",2013-08-08 13:39:42,NaN,Fragile and uselsss,888,NaN,SteelSeries

In [359]:
display(df_asda)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number,answer,company
0,Darren Bolton,16 reviews,GB,1.0,Buy at least 2 online shops per week at Asda s...,"October 21, 2024",2024-10-21 17:17:36,NaN,Every little helps....,1.0,NaN,Asda
1,jane nicholas,10 reviews,GB,3.0,Unlike others on here I do have to start on a ...,"October 20, 2024",2024-10-22 17:18:35,NaN,Unlike others on here I do have to…,1.0,NaN,Asda
2,Paul Zuchlinski,1 review,GB,1.0,I put £20.01 in the tank & got charged £99 I h...,"October 20, 2024",2024-10-20 20:09:06,NaN,I put £20.01 in the tank & got charged…,1.0,NaN,Asda
3,Katarzyna,6 reviews,GB,1.0,Absolutely shocking experience EACH TIME. This...,"October 22, 2024",2024-10-22 13:14:54,NaN,Absolutely shocking experience EACH…,1.0,NaN,Asda
4,bobozilla,7 reviews,GB,1.0,Worst service imaginable. They do not deliver ...,"October 19, 2024",2024-10-20 17:26:31,NaN,Worst service imaginable,1.0,NaN,Asda
...,...,...,...,...,...,...,...,...,...,...,...,...
15764,Lee Boardman,1 review,GB,1.0,"ordered a CD online, it said despatched in 24h...","December 02, 2009",2009-12-02 09:52:31,NaN,very poor sevice,796.0,NaN,Asda
15765,Phillip J,1 review,GB,1.0,"Ordered a book off them, for a birthday presen...","August 15, 2009",2009-08-15 12:17:52,NaN,Very Poor Service,796.0,NaN,Asda
15766,David Brown,3 reviews,GB,5.0,"ordered a washing machine, took a few days to ...","July 30, 2009",2009-07-30 14:38:08,NaN,great,796.0,NaN,Asda
15767,Joyce,3 reviews,IN,3.0,"Had to wait a week for my new garden set, slow...","July 09, 2009",2009-07-09 17:06:50,NaN,Slow delivery,796.0,NaN,Asda
15768,d young,2 reviews,GB,1.0,i am doing an assignment at college as part of...,"June 09, 2009",2009-06-09 08:57:17,NaN,problems with them in the past 6 months,796.0,NaN,Asda

In [360]:
display(df_quicken)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number,answer,company
0,Kevin H,1 review,US,5,I have been using Quicken since 1991. I depen...,"October 21, 2024",2024-10-21 13:45:22,Verified,I have been using Quicken since 1991,1,NaN,Quicken
1,Edward Campbell,1 review,US,3,Quicken is the only product that can perf...,"October 22, 2024",2024-10-22 15:25:09,Verified,Functions but buggy and expensive,1,NaN,Quicken
2,Ronald Davis,5 reviews,US,4,I have been using Quicken to manage my finance...,"October 21, 2024",2024-10-21 19:26:40,Verified,2 Decade User,1,NaN,Quicken
3,Robert,4 reviews,US,5,Product has been more stable and consistently ...,"October 20, 2024",2024-10-21 01:40:21,Verified,Product has been more stable and…,1,NaN,Quicken
4,G Bailey,1 review,US,3,I have used Quicken since it first came out. ...,"October 15, 2024",2024-10-22 16:22:49,Verified,I have used Quicken since it first came…,1,NaN,Quicken
...,...,...,...,...,...,...,...,...,...,...,...,...
32315,James Hazelwood,1 review,US,1,"I used Quicken for the last 8 plus years, I al...","October 20, 2021",2021-10-20 23:46:27,Invited,SICK TO MY STOMACH,1616,NaN,Quicken
32316,Diane Davis,3 reviews,US,5,Though I don't use Quicken to its fullest capa...,"October 20, 2021",2021-10-20 23:39:59,Invited,Good Product,1616,NaN,Quicken
32317,Quicken Member,3 reviews,US,5,Excellent help. Competent service rep.,"October 20, 2021",2021-10-20 23:38:01,Invited,Excellent help,1616,NaN,Quicken
32318,Dennis Bushnell,3 reviews,US,2,NaN,"October 20, 2021",2021-10-20 23:37:32,Invited,To expensive with annual renewal.,1616,NaN,Quicken
32319,wayne wilson,2 reviews,US,3,should not have to renew subscription when I d...,"October 20, 2021",2021-10-20 23:37:15,Invited,should not have to renew subscription…,1616,NaN,Quicken

In [361]:
#Merging datasets into one
df_trustpilot_3 = pd.concat([df_flashbay, df_steelseries], axis=0)
df_trustpilot_2 = pd.concat([df_trustpilot_3, df_asda], axis=0)
df_trustpilot = pd.concat([df_trustpilot_2, df_quicken], axis=0)

display(df_trustpilot)

,username,number_reviews,location,rating,text,date_of_experience,date_posted,verification,subject,page_number,answer,company
0,Rob Crane,2 reviews,CA,5.0,The company rep I worked with made my transact...,"June 15, 2024",2024-10-23 04:17:44,Redirected,The company rep I worked with made my…,1.0,NaN,Flashbay
1,Pat Anderson,1 review,US,5.0,I highly recommend using Flashbay. Immediately...,"October 16, 2024",2024-10-16 19:34:05,Verified,I highly recommend using Flashbay,1.0,NaN,Flashbay
2,Margarita Orlova,1 review,CZ,5.0,I had the pleasure of working with Shelby Gibs...,"October 10, 2024",2024-10-17 10:27:44,Verified,Great customer service,1.0,NaN,Flashbay
3,Paola Rivas,1 review,US,5.0,I had a fantastic experience with Brian Truong...,"October 21, 2024",2024-10-21 22:38:50,Verified,Outstanding Support and Attentive Service,1.0,NaN,Flashbay
4,Fiona Mckelvey Keenan,3 reviews,CA,5.0,My number-one go-to for computer accessories. ...,"July 11, 2024",2024-10-23 04:09:05,NaN,My number-one go-to for computer…,1.0,NaN,Flashbay
...,...,...,...,...,...,...,...,...,...,...,...,...
32315,James Hazelwood,1 review,US,1.0,"I used Quicken for the last 8 plus years, I al...","October 20, 2021",2021-10-20 23:46:27,Invited,SICK TO MY STOMACH,1616.0,NaN,Quicken
32316,Diane Davis,3 reviews,US,5.0,Though I don't use Quicken to its fullest capa...,"October 20, 2021",2021-10-20 23:39:59,Invited,Good Product,1616.0,NaN,Quicken
32317,Quicken Member,3 reviews,US,5.0,Excellent help. Competent service rep.,"October 20, 2021",2021-10-20 23:38:01,Invited,Excellent help,1616.0,NaN,Quicken
32318,Dennis Bushnell,3 reviews,US,2.0,NaN,"October 20, 2021",2021-10-20 23:37:32,Invited,To expensive with annual renewal.,1616.0,NaN,Quicken
32319,wayne wilson,2 reviews,US,3.0,should not have to renew subscription when I d...,"October 20, 2021",2021-10-20 23:37:15,Invited,should not have to renew subscription…,1616.0,NaN,Quicken

STAGE 2 - DATASET INSPECTIONS

In [362]:
#Inspecting the full dataset

print("These are the names of the columns present: ", "\n", df_trustpilot.columns)
print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'page_number', 'answer', 'company'],
      dtype='object')
The dataset has  12 columns
The dataset has  84106 rows

In [363]:
#Deleting the page_number column as it is no longer needed or relevant

df_trustpilot.drop(columns=['page_number'], inplace=True)

#Verifying the output
print("These are the names of the columns present: ", "\n", df_trustpilot.columns)
print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'answer', 'company'],
      dtype='object')
The dataset has  11 columns
The dataset has  84106 rows

In [364]:
print("Printing the relevant information from the file such as type per variable: ", "\n")
print(df_trustpilot.info())

Printing the relevant information from the file such as type per variable:

<class 'pandas.core.frame.DataFrame'>
Index: 84106 entries, 0 to 32319
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            84089 non-null  object
 1   number_reviews      84106 non-null  object
 2   location            84106 non-null  object
 3   rating              84106 non-null  float64
 4   text                78420 non-null  object
 5   date_of_experience  84106 non-null  object
 6   date_posted         84106 non-null  object
 7   verification        67053 non-null  object
 8   subject             84103 non-null  object
 9   answer              20360 non-null  object
 10  company             84106 non-null  object
dtypes: float64(1), object(10)
memory usage: 7.7+ MB
None

In [366]:
#Converting rating to integer

print(df_trustpilot['rating'].unique())

df_trustpilot['rating'] = df_trustpilot['rating'].astype('int')

[5. 4. 1. 3. 2.]
<class 'pandas.core.frame.DataFrame'>
Index: 84106 entries, 0 to 32319
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            84089 non-null  object
 1   number_reviews      84106 non-null  object
 2   location            84106 non-null  object
 3   rating              84106 non-null  int64
 4   text                78420 non-null  object
 5   date_of_experience  84106 non-null  object
 6   date_posted         84106 non-null  object
 7   verification        67053 non-null  object
 8   subject             84103 non-null  object
 9   answer              20360 non-null  object
 10  company             84106 non-null  object
dtypes: int64(1), object(10)
memory usage: 7.7+ MB
None

In [367]:
#Amending the dataset
#number_reviews: Removing 'review(s)' from cell and converting to an integer
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].str.replace('(?i)reviews', '', regex=True).str.strip()
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].str.replace('(?i)review', '', regex=True).str.strip()
print(df_trustpilot['number_reviews'].value_counts())
df_trustpilot['number_reviews'] = df_trustpilot['number_reviews'].astype(int)

#Verifying output
print(df_trustpilot.info())
print(df_trustpilot.head())

number_reviews
1      47523
2      14389
3       6486
4       3515
5       2175
       ...
493        1
385        1
141        1
454        1
128        1
Name: count, Length: 171, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 84106 entries, 0 to 32319
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   username            84089 non-null  object
 1   number_reviews      84106 non-null  int64
 2   location            84106 non-null  object
 3   rating              84106 non-null  int64
 4   text                78420 non-null  object
 5   date_of_experience  84106 non-null  object
 6   date_posted         84106 non-null  object
 7   verification        67053 non-null  object
 8   subject             84103 non-null  object
 9   answer              20360 non-null  object
 10  company             84106 non-null  object
dtypes: int64(2), object(9)
memory usage: 7.7+ MB
None
                username  number_reviews location  rating  \
0              Rob Crane               2       CA       5
1           Pat Anderson               1       US       5
2       Margarita Orlova               1       CZ       5
3            Paola Rivas               1       US       5
4  Fiona Mckelvey Keenan               3       CA       5

                                                text date_of_experience  \
0  The company rep I worked with made my transact...      June 15, 2024
1  I highly recommend using Flashbay. Immediately...   October 16, 2024
2  I had the pleasure of working with Shelby Gibs...   October 10, 2024
3  I had a fantastic experience with Brian Truong...   October 21, 2024
4  My number-one go-to for computer accessories. ...      July 11, 2024

           date_posted verification  \
0  2024-10-23 04:17:44   Redirected
1  2024-10-16 19:34:05     Verified
2  2024-10-17 10:27:44     Verified
3  2024-10-21 22:38:50     Verified
4  2024-10-23 04:09:05          NaN

                                     subject answer   company
0     The company rep I worked with made my…    NaN  Flashbay
1          I highly recommend using Flashbay    NaN  Flashbay
2                     Great customer service    NaN  Flashbay
3  Outstanding Support and Attentive Service    NaN  Flashbay
4          My number-one go-to for computer…    NaN  Flashbay

In [377]:
#date_of_experience: Converting to datetime format
df_trustpilot['date_of_experience'] = pd.to_datetime(df_trustpilot['date_of_experience'], errors='coerce')
print(df_trustpilot.info())

<class 'pandas.core.frame.DataFrame'>
Index: 84090 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          84073 non-null  object
 1   number_reviews                    84090 non-null  int64
 2   location                          84090 non-null  object
 3   rating                            84090 non-null  int64
 4   text                              78407 non-null  object
 5   date_of_experience                84090 non-null  datetime64[ns]
 6   date_posted                       84090 non-null  datetime64[ns]
 7   verification                      67037 non-null  object
 8   subject                           84087 non-null  object
 9   answer                            20355 non-null  object
 10  company                           84090 non-null  object
 11  hour_posted                       84090 non-null  int64
 12  day_of_week_posted                0 non-null      float64
 13  days_between_experience_and_post  84090 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(7)
memory usage: 9.6+ MB
None

In [378]:
#date_posted: convert to datetime format, then split into two columns, one for time of day, one for date.

df_trustpilot['date_posted'] = pd.to_datetime(df_trustpilot['date_posted'])
df_trustpilot['hour_posted'] = df_trustpilot['date_posted'].dt.time
df_trustpilot['date_posted'] = df_trustpilot['date_posted'].dt.date

#Creating a new column indicating the day of the week the post was created
df_trustpilot['date_posted'] = pd.to_datetime(df_trustpilot['date_posted'])
df_trustpilot['day_of_week_posted'] = df_trustpilot['date_posted'].dt.day_name()




print(df_trustpilot.head())

                username  number_reviews location  rating  \
0              Rob Crane               2       CA       5
1           Pat Anderson               1       US       5
2       Margarita Orlova               1       CZ       5
3            Paola Rivas               1       US       5
4  Fiona Mckelvey Keenan               3       CA       5

                                                text date_of_experience  \
0  The company rep I worked with made my transact...         2024-06-15
1  I highly recommend using Flashbay. Immediately...         2024-10-16
2  I had the pleasure of working with Shelby Gibs...         2024-10-10
3  I had a fantastic experience with Brian Truong...         2024-10-21
4  My number-one go-to for computer accessories. ...         2024-07-11

  date_posted verification                                    subject answer  \
0  2024-10-23   Redirected     The company rep I worked with made my…    NaN
1  2024-10-16     Verified          I highly recommend using Flashbay    NaN
2  2024-10-17     Verified                     Great customer service    NaN
3  2024-10-21     Verified  Outstanding Support and Attentive Service    NaN
4  2024-10-23          NaN          My number-one go-to for computer…    NaN

    company hour_posted day_of_week_posted  days_between_experience_and_post
0  Flashbay    00:00:00          Wednesday                               130
1  Flashbay    00:00:00          Wednesday                                 0
2  Flashbay    00:00:00           Thursday                                 7
3  Flashbay    00:00:00             Monday                                 0
4  Flashbay    00:00:00          Wednesday                               104

In [379]:
#Create a new column calculating the amount of time (in days) that passed between date_of_experience and date_posted

df_trustpilot['days_between_experience_and_post'] = (df_trustpilot['date_posted'] - df_trustpilot['date_of_experience']).dt.days

print(df_trustpilot.info())
print(df_trustpilot.head())

<class 'pandas.core.frame.DataFrame'>
Index: 84090 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          84073 non-null  object
 1   number_reviews                    84090 non-null  int64
 2   location                          84090 non-null  object
 3   rating                            84090 non-null  int64
 4   text                              78407 non-null  object
 5   date_of_experience                84090 non-null  datetime64[ns]
 6   date_posted                       84090 non-null  datetime64[ns]
 7   verification                      67037 non-null  object
 8   subject                           84087 non-null  object
 9   answer                            20355 non-null  object
 10  company                           84090 non-null  object
 11  hour_posted                       84090 non-null  object
 12  day_of_week_posted                84090 non-null  object
 13  days_between_experience_and_post  84090 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 9.6+ MB
None
                username  number_reviews location  rating  \
0              Rob Crane               2       CA       5
1           Pat Anderson               1       US       5
2       Margarita Orlova               1       CZ       5
3            Paola Rivas               1       US       5
4  Fiona Mckelvey Keenan               3       CA       5

                                                text date_of_experience  \
0  The company rep I worked with made my transact...         2024-06-15
1  I highly recommend using Flashbay. Immediately...         2024-10-16
2  I had the pleasure of working with Shelby Gibs...         2024-10-10
3  I had a fantastic experience with Brian Truong...         2024-10-21
4  My number-one go-to for computer accessories. ...         2024-07-11

  date_posted verification                                    subject answer  \
0  2024-10-23   Redirected     The company rep I worked with made my…    NaN
1  2024-10-16     Verified          I highly recommend using Flashbay    NaN
2  2024-10-17     Verified                     Great customer service    NaN
3  2024-10-21     Verified  Outstanding Support and Attentive Service    NaN
4  2024-10-23          NaN          My number-one go-to for computer…    NaN

    company hour_posted day_of_week_posted  days_between_experience_and_post
0  Flashbay    00:00:00          Wednesday                               130
1  Flashbay    00:00:00          Wednesday                                 0
2  Flashbay    00:00:00           Thursday                                 7
3  Flashbay    00:00:00             Monday                                 0
4  Flashbay    00:00:00          Wednesday                               104

STAGE 3 - DUPLICATES AND MISSING VALUES

In [380]:
#Identifying duplicates in the dataset

print("Duplicate rows before:")
print(df_trustpilot.duplicated().sum())

df_trustpilot = df_trustpilot.drop_duplicates()

print("Duplicate rows after:")
print(df_trustpilot.duplicated().sum())

Duplicate rows before:
0
Duplicate rows after:
0

In [381]:
#Identifying missing values in the dataset

print("Missing values:")
print(df_trustpilot.isnull().sum())

Missing values:
username                               17
number_reviews                          0
location                                0
rating                                  0
text                                 5683
date_of_experience                      0
date_posted                             0
verification                        17053
subject                                 3
answer                              63735
company                                 0
hour_posted                             0
day_of_week_posted                      0
days_between_experience_and_post        0
dtype: int64

In [317]:
#There are five columns with missing values: username, text, verification, subject, day_of_week_posted and answer
#username only has 17 missing values and the username column is not critical so we can override that with the most frequently used value from other columns
#verification has 17,053 missing values - if verification is missing that means the user didnt verify themselves. Based on this, we should inspect the different options for this column and fill it with the value most likely representing 'Not verified'. 
#text has 5683 missing values and is our biggest challenge. Based on the text we predict the rating. Determine what % of our entries has no text and then most likely proceed with deleting those rows.
#subject has 3 missing values. Based on the low number, we will remove these rows.
#answer has 63,735 missing values. We will fill those rows with 0s.

In [382]:
#Username missing value

print("This is the distribution of the types of username in the dataset: ", "\n", df_trustpilot['username'].value_counts().head())

#The username with the highest number in the dataset is 'Customer'. As this is a non-descript name for a username, we will apply it to the missing username.

df_trustpilot['username'] = df_trustpilot['username'].fillna('Customer')

print("Missing values:")
print(df_trustpilot['username'].isnull().sum())

This is the distribution of the types of username in the dataset:
 username
customer          487
Customer          351
John              213
David             176
Quicken Member    176
Name: count, dtype: int64
Missing values:
0

In [383]:
#Verification missing value

print("This is the distribution of the types of verifications in the dataset: ", "\n", df_trustpilot['verification'].value_counts().head())

#Inspection indicates that there is no value under verification specifically indicating that a user is not verified. We will hence create a new variable named 'Not Verified' and fill the n/a values with it. 

df_trustpilot['verification'] = df_trustpilot['verification'].fillna('Not Verified')

print("Missing values:")
print(df_trustpilot['verification'].isnull().sum())

This is the distribution of the types of verifications in the dataset:
 verification
Verified      54695
Invited       12329
Redirected       13
Name: count, dtype: int64
Missing values:
0

In [387]:
#Text and subject missing value

na_percentage = (df_trustpilot['text'].isna().sum() / len(df_trustpilot)) * 100
print("The percentage of n/a values in the text column compared to the full dataset is:", "\n")
print(na_percentage)

#The text cells with missing values for text represent 6.6% of the full dataset. Due to the criticality of this column and the size of the dataset, the decision has been made to remove rows with n/a values for text.
#Subject with missing values will also be dropped due to the low number
df_trustpilot = df_trustpilot.dropna(axis=0, how='any', subset=['text', 'subject'])

print("Missing values:")
print(df_trustpilot.isnull().sum())

print("The dataset has ", df_trustpilot.shape[1], "columns")
print("The dataset has ", df_trustpilot.shape[0], "rows")

The percentage of n/a values in the text column compared to the full dataset is:

0.0
Missing values:
username                                0
number_reviews                          0
location                                0
rating                                  0
text                                    0
date_of_experience                      0
date_posted                             0
verification                            0
subject                                 0
answer                              58929
company                                 0
hour_posted                             0
day_of_week_posted                      0
days_between_experience_and_post        0
dtype: int64
The dataset has  14 columns
The dataset has  78404 rows

In [388]:
# Answer has a large number of values, which is to be expected.
# We will fill those values with 0

df_trustpilot['answer'] = df_trustpilot['answer'].fillna(0)

In [389]:
#Verifying current status of the dataset
print("Missing values:")
print(df_trustpilot.isnull().sum())

print("These are the names of the columns present: ", "\n", df_trustpilot.columns)

Missing values:
username                            0
number_reviews                      0
location                            0
rating                              0
text                                0
date_of_experience                  0
date_posted                         0
verification                        0
subject                             0
answer                              0
company                             0
hour_posted                         0
day_of_week_posted                  0
days_between_experience_and_post    0
dtype: int64
These are the names of the columns present:
 Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'verification', 'subject',
       'answer', 'company', 'hour_posted', 'day_of_week_posted',
       'days_between_experience_and_post'],
      dtype='object')
Printing the relevant information from the file such as type per variable:

<class 'pandas.core.frame.DataFrame'>
Index: 78404 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          78404 non-null  object
 1   number_reviews                    78404 non-null  int64
 2   location                          78404 non-null  object
 3   rating                            78404 non-null  int64
 4   text                              78404 non-null  object
 5   date_of_experience                78404 non-null  datetime64[ns]
 6   date_posted                       78404 non-null  datetime64[ns]
 7   verification                      78404 non-null  object
 8   subject                           78404 non-null  object
 9   answer                            78404 non-null  object
 10  company                           78404 non-null  object
 11  hour_posted                       78404 non-null  object
 12  day_of_week_posted                78404 non-null  object
 13  days_between_experience_and_post  78404 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 9.0+ MB
None

In [390]:
print(df_trustpilot.info())

<class 'pandas.core.frame.DataFrame'>
Index: 78404 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          78404 non-null  object
 1   number_reviews                    78404 non-null  int64
 2   location                          78404 non-null  object
 3   rating                            78404 non-null  int64
 4   text                              78404 non-null  object
 5   date_of_experience                78404 non-null  datetime64[ns]
 6   date_posted                       78404 non-null  datetime64[ns]
 7   verification                      78404 non-null  object
 8   subject                           78404 non-null  object
 9   answer                            78404 non-null  object
 10  company                           78404 non-null  object
 11  hour_posted                       78404 non-null  object
 12  day_of_week_posted                78404 non-null  object
 13  days_between_experience_and_post  78404 non-null  int64
dtypes: datetime64[ns](2), int64(3), object(9)
memory usage: 9.0+ MB
None

In [391]:
#Converting hour_posted to only keep the hour and convert to integer
print("Current data type of hour_posted:", df_trustpilot['hour_posted'].dtype)

# Convert hour_posted from datetime.time to integer hour
df_trustpilot['hour_posted'] = df_trustpilot['hour_posted'].apply(lambda x: x.hour if hasattr(x, 'hour') else x)

#Converting day_of_week_posted to numeric value
day_map = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}
df_trustpilot['day_of_week_posted'] = df_trustpilot['day_of_week_posted'].map(day_map)

print("\nSample of converted hour_posted:")
print(df_trustpilot['hour_posted'].head())
print("\nSample of converted day_of_week_posted:")
print(df_trustpilot['day_of_week_posted'].head())

Current data type of hour_posted: object

Sample of converted hour_posted:
0    0
1    0
2    0
3    0
4    0
Name: hour_posted, dtype: int64

Sample of converted day_of_week_posted:
0    2
1    2
2    3
3    0
4    2
Name: day_of_week_posted, dtype: int64

In [392]:
print(df_trustpilot['verification'].unique())

df_trustpilot.info()

['Redirected' 'Verified' 'Not Verified' 'Invited']
<class 'pandas.core.frame.DataFrame'>
Index: 78404 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          78404 non-null  object
 1   number_reviews                    78404 non-null  int64
 2   location                          78404 non-null  object
 3   rating                            78404 non-null  int64
 4   text                              78404 non-null  object
 5   date_of_experience                78404 non-null  datetime64[ns]
 6   date_posted                       78404 non-null  datetime64[ns]
 7   verification                      78404 non-null  object
 8   subject                           78404 non-null  object
 9   answer                            78404 non-null  object
 10  company                           78404 non-null  object
 11  hour_posted                       78404 non-null  int64
 12  day_of_week_posted                78404 non-null  int64
 13  days_between_experience_and_post  78404 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(7)
memory usage: 9.0+ MB

In [393]:
# Verification currently has 4 values. In order to simplify this variable, we will perform binary encoding.
# ['Verified' 'Not Verified' 'Redirected' 'Invited']
# 'Verified' = 1
# 'Not Verified', 'Redirected', 'Invited' = 0 
# 'Not Verified', 'Redirected', 'Invited' were all encoded 0 as they are not verified by the Trustpilot website

verification_map = {
    'Verified': 1,
    'Not Verified': 0,
    'Redirected': 0,
    'Invited': 0
}

df_trustpilot['verification_encoded'] = df_trustpilot['verification'].map(verification_map)

df_trustpilot = df_trustpilot.drop('verification', axis=1)

In [394]:
df_trustpilot['verification'] = df_trustpilot['verification_encoded']
df_trustpilot = df_trustpilot.drop('verification_encoded', axis=1)

df_trustpilot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78404 entries, 0 to 32319
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          78404 non-null  object
 1   number_reviews                    78404 non-null  int64
 2   location                          78404 non-null  object
 3   rating                            78404 non-null  int64
 4   text                              78404 non-null  object
 5   date_of_experience                78404 non-null  datetime64[ns]
 6   date_posted                       78404 non-null  datetime64[ns]
 7   subject                           78404 non-null  object
 8   answer                            78404 non-null  object
 9   company                           78404 non-null  object
 10  hour_posted                       78404 non-null  int64
 11  day_of_week_posted                78404 non-null  int64
 12  days_between_experience_and_post  78404 non-null  int64
 13  verification                      78404 non-null  int64
dtypes: datetime64[ns](2), int64(6), object(6)
memory usage: 9.0+ MB

In [395]:
#Creates a new column called 'answered' which returns 1 if an answer to a user review was submitted, 0 if not

df_trustpilot['answered'] = np.where(df_trustpilot['answer'].isna(), 0, 1)

In [396]:
df_trustpilot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78404 entries, 0 to 32319
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   username                          78404 non-null  object
 1   number_reviews                    78404 non-null  int64
 2   location                          78404 non-null  object
 3   rating                            78404 non-null  int64
 4   text                              78404 non-null  object
 5   date_of_experience                78404 non-null  datetime64[ns]
 6   date_posted                       78404 non-null  datetime64[ns]
 7   subject                           78404 non-null  object
 8   answer                            78404 non-null  object
 9   company                           78404 non-null  object
 10  hour_posted                       78404 non-null  int64
 11  day_of_week_posted                78404 non-null  int64
 12  days_between_experience_and_post  78404 non-null  int64
 13  verification                      78404 non-null  int64
 14  answered                          78404 non-null  int64
dtypes: datetime64[ns](2), int64(7), object(6)
memory usage: 9.6+ MB

In [397]:
#Inspecting statistical distributions of numeric variables
print("These are the statistical distributions of the numeric variables present in the dataset: ", "\n")
print(df_trustpilot.describe())

These are the statistical distributions of the numeric variables present in the dataset:

       number_reviews        rating             date_of_experience  \
count    78404.000000  78404.000000                          78404
mean         3.751186      3.520662  2021-01-22 09:08:41.789704704
min          1.000000      1.000000            2009-06-09 00:00:00
25%          1.000000      1.000000            2019-08-17 00:00:00
50%          1.000000      4.000000            2021-11-16 00:00:00
75%          3.000000      5.000000            2023-05-08 00:00:00
max        592.000000      5.000000            2024-10-22 00:00:00
std          9.933424      1.697901                            NaN

                         date_posted  hour_posted  day_of_week_posted  \
count                          78404      78404.0        78404.000000
mean   2021-01-25 21:22:05.136472832          0.0            2.662747
min              2009-06-09 00:00:00          0.0            0.000000
25%              2019-08-19 00:00:00          0.0            1.000000
50%              2021-11-17 00:00:00          0.0            2.000000
75%              2023-05-14 00:00:00          0.0            4.000000
max              2024-10-23 00:00:00          0.0            6.000000
std                              NaN          0.0            1.830963

       days_between_experience_and_post  verification  answered
count                      78404.000000  78404.000000   78404.0
mean                           3.509298      0.645426       1.0
min                           -1.000000      0.000000       1.0
25%                            0.000000      0.000000       1.0
50%                            0.000000      1.000000       1.0
75%                            0.000000      1.000000       1.0
max                         3972.000000      1.000000       1.0
std                           37.236700      0.478387       0.0

In [401]:
#Inspecting top 10 modalities for columns

print(df_trustpilot.columns)

list = ['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'subject', 'answer', 'company',
       'hour_posted', 'day_of_week_posted', 'days_between_experience_and_post',
       'verification', 'answered']

for value in list:
    print(f"{value} has the following values", df_trustpilot[value].value_counts().head(10))

Index(['username', 'number_reviews', 'location', 'rating', 'text',
       'date_of_experience', 'date_posted', 'subject', 'answer', 'company',
       'hour_posted', 'day_of_week_posted', 'days_between_experience_and_post',
       'verification', 'answered'],
      dtype='object')
username has the following values username
customer          436
Customer          325
John              189
David             168
Quicken Member    158
Michael           140
Anonymous         130
Paul              127
Mark              127
James             111
Name: count, dtype: int64
number_reviews has the following values number_reviews
1     44009
2     13249
3      6010
4      3296
5      2050
6      1417
7      1051
8       808
9       657
10      541
Name: count, dtype: int64
location has the following values location
US    52431
GB    17377
CA     1703
DE      871
FR      491
NL      447
AU      381
PL      293
SE      271
DK      261
Name: count, dtype: int64
rating has the following values rating
5    38942
1    19753
4     7472
3     7209
2     5028
Name: count, dtype: int64
text has the following values text
Easy to use.                   17
Good service                   10
Great customer service         10
User friendly                   7
Great service                   7
Great product                   5
Very easy to use                5
Ease of use.                    5
Very helpful                    5
Excellent customer service!     4
Name: count, dtype: int64
date_of_experience has the following values date_of_experience
2021-12-08    2213
2021-12-15    1967
2022-12-22     484
2022-12-30     207
2022-12-23     200
2021-12-16     197
2021-12-09     190
2022-12-29     186
2024-05-01     165
2019-04-27     164
Name: count, dtype: int64
date_posted has the following values date_posted
2021-12-08    2210
2021-12-15    1968
2022-12-23     784
2022-12-30     409
2021-12-16     195
2021-12-09     189
2023-01-03     166
2019-04-27     164
2020-12-22     158
2023-01-04     138
Name: count, dtype: int64
subject has the following values subject
Great customer service        281
Great service                 279
Easy to use                   266
Great Service                 214
Excellent                     175
Excellent customer service    170
Excellent service             149
Great                         147
Good                          136
Great Customer Service        133
Name: count, dtype: int64
answer has the following values answer
0                                                                                                                                                                                                58929
Fantastic! We are glad you had an excellent experience working with us.Thank you for trusting Flashbay and we look forward to working with you again soon. -Flashbay Management                     76
Fantastic! Thank you for trusting Flashbay with your USB needs. We look forward to working with you next time!-Flashbay Management                                                                  48
We're glad to hear Quicken is such a useful tool for you! Thank you for your kind review.                                                                                                           44
We're glad to hear Quicken is such a useful tool for you, Robert! Thank you for your kind review.                                                                                                   39
We're glad to hear Quicken is such a useful tool for you, John! Thank you for your kind review.                                                                                                     38
Fantastic! We are delighted to hear that you are happy with our service.Thank you for your business and we look forward to working with you next time! -Flashbay Management                         36
Excellent!Great to hear that you are happy with our product and services.Thank you for your business and we look forward to working with you again.-Flashbay Management                             34
Thank you for giving us an excellent review about your experiences with Flashbay. We really appreciate your business and we look forward to working with you again soon. -Flashbay Management       34
Great to hear that you are happy with our services. Thank you for doing business with us and we look forward to working with you again.-Flashbay Management                                         32
Name: count, dtype: int64
company has the following values company
Quicken        29466
Flashbay       17675
Asda           15657
SteelSeries    15606
Name: count, dtype: int64
hour_posted has the following values hour_posted
0    78404
Name: count, dtype: int64
day_of_week_posted has the following values day_of_week_posted
2    16012
1    12508
4    12029
3    12015
0    11198
5     7775
6     6867
Name: count, dtype: int64
days_between_experience_and_post has the following values days_between_experience_and_post
0     61258
1      4606
7      4568
8      1545
2      1146
3       756
9       512
4       435
5       342
10      279
Name: count, dtype: int64
verification has the following values verification
1    50604
0    27800
Name: count, dtype: int64
answered has the following values answered
1    78404
Name: count, dtype: int64

In [402]:
print("The Trustpilot dataset has ", df_trustpilot.shape[1], "columns")

print("The Trustpilot dataset has ", df_trustpilot.shape[0], "rows")

The Trustpilot dataset has  15 columns
The Trustpilot dataset has  78404 rows

In [403]:
import os

os.makedirs('data', exist_ok=True)

csv_path = 'data/data_trustpilot.csv'
df_trustpilot.to_csv(csv_path, index=False)
print(f"DataFrame exported to {csv_path}")

DataFrame exported to data/data_trustpilot.csv